{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header {
    background-color: #003366;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logodiv {
    display: flex;            
    align-items: center;    
    padding: 5px 5px 10px 10px;  
   
}
.logo {

    border-radius: 10%;
} 
.istituto {
    text-align: left;         
    font-size: 18px;         
    font-weight: bold;       
    color: #fffcfc;              
    font-family: 'Arial', sans-serif; 
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


main {
    padding: 20px;
}

.indirizzi {
    margin-top:10px;
}

a.pulsanti {
display: inline-block;
background-color: aquamarine
color:wheat;
padding: 10px 20px;
margin: 5px;
text-align:center;
border-radius: 4px
}
.istituto{
    font-size: 40px;
    font-weight: bold;
    margin: 30px
}
.principale {
    width: 100%;
    height: 400px; 
}
.contenuto {
    position: relative;
    display: inline-block;
}

.immagine {
    width: 100%;
    height: 500px;
}

.quadrato {
    position: absolute;
    top: 65px;
    left: 200px;
    width: 300px;
    flex-direction: column;

    background-color: rgb(0, 139, 97);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex; 
    font-size: 10px;
    border-radius: 25px; 
    padding: 5px;
    align-items: center; 
   
}
.testo {
    font-size: 40px;
    margin-bottom: 15px;
}
.link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 10px;
    height: 30px;
    width: 200px;
    white-space: normal;
    line-height: 1.5;
    max-width: 100%;
}


.link:hover {
    background-color: white;
    color: darkblue;
    transform: scale(1.05)
}
.indirizzi {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  
  .indirizzo-button {
    text-decoration: none;
    color: white;
    border: 2px solid #004080;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;      
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px;      
  }
  
  .indirizzo-button:hover {
    transform: scale(1.15);
  }
  
  .indirizzo-button img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .indirizzo-button span {
    display: block;
    background-color: #004080;
    padding: 10px;
    font-size: 16px;   
    font-weight: bold;
  }
  
section h2 {
    color: #003366;
    margin-bottom: 10px;
}


footer {
    background-color: #003366;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

